In [149]:
import sqlite3
import pandas as pd 
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

In [150]:
#Read Data from the Database into pandas
cnx = sqlite3.connect('database.sqlite')
df = pd.read_sql_query("SELECT * FROM Player_Attributes", cnx)

In [151]:
#Check how dataFrame looks like
df.head( )

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [152]:
#Check size of dataFrame
df.shape

(183978, 42)

In [153]:
#Check what variables are
df.columns

Index(['id', 'player_fifa_api_id', 'player_api_id', 'date', 'overall_rating',
       'potential', 'preferred_foot', 'attacking_work_rate',
       'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes'],
      dtype='object')

In [154]:
#Declare the variables You want to Use as Features
features = [
       'potential', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes']

In [155]:
#Specify the Prediction Target
target = ['overall_rating']  #얼마나 정확한지 보는것

In [156]:
#Clean the data
df = df.dropna( )

In [157]:
#Extract Features and Target(‘overall_rating’) Values into Separate dataFrame
X = df[features]
y = df[target]

In [178]:
#Split the dataset into Training and Test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.15, random_state = 42)

In [21]:
#Linear Regression : Fit a model to the training set
#Only difference
#regressor = DecisionTreeRegressor(max_depth=20)
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [180]:
#Perform Prediction using Linear Regression Model
y_prediction = regressor.predict(X_test)
y_prediction

array([63. , 65. , 79. , ..., 71. , 72. , 68.2])

In [181]:
#Check Root Mean Square Error
RMSE = sqrt(mean_squared_error(y_true = y_test, y_pred = y_prediction))
print(RMSE)

1.3321290055466086

In [182]:
#Check prediction accuracy
accuracy = regressor.score(X_test, y_test)
print(accuracy)

0.9641765355252723

In [179]:
#Only difference
regressor = DecisionTreeRegressor(max_depth=20)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=20)

# 17.1

In [2]:
import numpy as np
import pandas as pd

whisky = pd.read_csv('whiskies.txt')
whisky['Region'] = pd.read_csv('regions.txt')
print(whisky.head())

   RowID Distillery  Body  Sweetness  Smoky  Medicinal  Tobacco  Honey  Spicy  \
0      1  Aberfeldy     2          2      2          0        0      2      1
1      2   Aberlour     3          3      1          0        0      4      3
2      3     AnCnoc     1          3      2          0        0      2      0
3      4     Ardbeg     4          1      4          4        0      0      2
4      5    Ardmore     2          2      2          0        0      1      1

   Winey  Nutty  Malty  Fruity  Floral     Postcode  Latitude  Longitude  \
0      2      2      2       2       2   \tPH15 2EB    286580     749680
1      2      2      3       3       2   \tAB38 9PJ    326340     842570
2      0      2      2       3       2    \tAB5 5LI    352960     839320
3      0      1      2       1       0   \tPA42 7EB    141560     646220
4      1      2      3       1       1   \tAB54 4NH    355350     829140

      Region
0  Highlands
1   Speyside
2  Highlands
3      Islay
4  Highlands

# 17.2

In [5]:
print(pd.unique(whisky.Region))

['Highlands' 'Speyside' 'Islay' 'Islands' 'Lowlands' 'Campbelltown']

# 17.3

In [8]:
whisky.iloc[-3:,2:14]

,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral
83,0,3,1,0,0,2,2,1,1,2,1,2
84,2,2,1,0,0,1,0,1,2,1,0,0
85,2,3,0,0,1,0,2,1,1,2,2,1

# 17.4

In [15]:
print(corr_whisky[56:60])

          0         1         2         3         4         5         6   \
56  0.697097  0.793052  0.647298 -0.216957  0.452911  0.601929  0.589506
57 -0.204157 -0.447100 -0.330173  0.873670  0.022798  0.048479 -0.678258
58 -0.176519 -0.441798 -0.168280  0.846044  0.126155  0.201196 -0.609896
59  0.605408  0.557071  0.533500 -0.174170  0.254514  0.744161  0.449586

          7         8         9   ...        76        77        78        79  \
56  0.777778  0.643268  0.612372  ...  0.783349  0.111111  0.601929  0.696311
57 -0.268462 -0.215866  0.205499  ... -0.192775  0.671156 -0.460547 -0.245350
58 -0.185695 -0.059726  0.284287  ... -0.145464  0.639617 -0.335326 -0.145464
59  0.655610  0.481980  0.401478  ...  0.635851  0.062439  0.642685  0.489116

          80        81        82        83        84        85
56  0.453990  0.443607  0.612372  0.676753  0.481543  0.572637
57  0.264072 -0.331756 -0.041100 -0.628902  0.169675 -0.251561
58  0.252911 -0.247127  0.113715 -0.493013  0.335326 -0.203005
59  0.566934  0.462959  0.315447  0.438810  0.169128  0.614335

[4 rows x 86 columns]

# 17.5

In [28]:
print(pd.DataFrame(whisky.Distillery))

      Distillery
0      Aberfeldy
1       Aberlour
2         AnCnoc
3         Ardbeg
4        Ardmore
..           ...
81     Tobermory
82       Tomatin
83     Tomintoul
84       Tormore
85  Tullibardine

[86 rows x 1 columns]

# 17.6

In [33]:
print(whisky.iloc[57:59,1])

57    Lagavulin
58     Laphroig
Name: Distillery, dtype: object